<footer class="footer-container">
    <a class="footer-logo-container" href="/user/profile/">
        <img class="footer-logo"src="/image/logo_orange.png" alt="Cook with Friends logo">
    </a>
    <section class="footer-nav">
        <a class="footer-link" href="/user/profile/">Profile</a>
        <a class="footer-link" href="/user/cookbook/">Cookbook</a>
        <a class="footer-link" href="/user/friends/">Friends</a>
        <a class="footer-link" href="/user/shopping-list/">Shop List</a>
        <a class="footer-link" href="/search">Search</a>
        <a class="footer-link" href="/logout">Logout</a>
    </section>
</footer>
</body>
</html>