<footer class="footer-container">
    <a class="footer-logo-container" href="/">
        <img class="footer-logo"src="/image/logo_orange.png" alt="Cook with Friends logo">
    </a>
    <section class="footer-nav">
        <a class="footer-link" href="/register">Create an Account</a>
        <a class="footer-link" href="/login">Log In</a>
        <a class="footer-link" href="/contact_us">Contact Us</a>
    </section>
</footer>


</body>
</html>