<footer class="footer-container">
    <a class="footer-logo-container" href="home.html">
        <img class="footer-logo"src="/PP_imgs/logo_orange.png" alt="Cook with Friends logo">
    </a>
    <section class="footer-nav">
        <a class="footer-link" href="profile.html">Profile</a>
        <a class="footer-link" href="cookbook.html">Cookbook</a>
        <a class="footer-link" href="friends.html">Friends</a>
        <a class="footer-link" href="shopping_list.html">Shopping List</a>
        <a class="footer-link" href="search.html">Search</a>
    </section>
</footer>
</body>
</html>