<body>
<header class="header">
    <a class="logo-container" href="/">
        <img class="logo" src="/image/LogoIcon.png" alt="Cook with Friends logo">
        <p class="header-title-link header-title" href="/">Cook with Friends</p> 
    </a>
    
    <nav class="navbar-new">
        <a class="navlinks" data-pathname="/register" href="/register">New Users</a>
        <a class="navlinks login-navlink" data-pathname="/login" href="/login">Login</a>
        <a class="navlinks" data-pathname="/contact_us.ejs" href="/contact_us">Contact Us</a>
    </nav>

    <section class="hamburger-dropdown">
        <a class="hamburger-menu" onclick="hamburgerDropdown()"><i class="fa-solid fa-bars"></i></a>
        <div id="hamburgerDropdown" class="hamburger-dropdown-content">
            <a class="hamburger-link" href="/register">New Users</a>
            <a class="hamburger-link" href="/login">Login</a>
            <a class="hamburger-link" href="/contact_us">Contact Us</a>
        </div> 
    </section>
    
</header>