<body>
    <header class="header">
        <a class="logo-container" href="home.html">
            <img class="logo" src="/PP_imgs/LogoIcon.png" alt="Cook with Friends logo">
            <p class="header-title-link header-title" href="home.html">Cook with Friends</p> 
        </a>
        
        <nav class="navbar-user">
            <a class="navlinks" href="profile.html">Profile</a>
            <a class="navlinks" href="cookbook.html">Cookbook</a>
            <a class="navlinks" href="friends.html">Friends</a>
            <a class="navlinks" href="shopping_list.html">Shopping List</a>
            <a class="navlinks" href="search.html">Search</a>
        </nav>
        <section class="hamburger-dropdown">
            <a class="hamburger-menu" onclick="hamburgerDropdown()"><i class="fa-solid fa-bars"></i></a>
            <div id="hamburgerDropdown" class="hamburger-dropdown-content">
                <a class="hamburger-link" href="profile.html">Profile</a>
                <a class="hamburger-link" href="cookbook.html">Cookbook</a>
                <a class="hamburger-link" href="friends.html">Friends</a>
                <a class="hamburger-link" href="shopping_list.html">Shopping List</a>
                <a class="hamburger-link" href="search.html">Search</a>
            </div> 
        </section>
    </header>