<body>
    <header class="header">
        <a class="logo-container" href="/home">
            <img class="logo" src="/image/LogoIcon.png" alt="Cook with Friends logo">
            <p class="header-title-link header-title" href="/">Cook with Friends</p> 
        </a>
        
        <nav class="navbar-user">
            <a class="navlinks" href="/user/:id/profile/">Profile</a>
            <a class="navlinks" href="/user/:id/cookbook/">Cookbook</a>
            <a class="navlinks" href="/user/:id/friends/">Friends</a>
            <a class="navlinks" href="/user/:id/shopping-list/">Shop List</a>
            <a class="navlinks" href="/search">Search</a>
        </nav>
        <section class="hamburger-dropdown">
            <a class="hamburger-menu" onclick="hamburgerDropdown()"><i class="fa-solid fa-bars"></i></a>
            <div id="hamburgerDropdown" class="hamburger-dropdown-content">
                <a class="hamburger-link" href="/user/:id/profile/">Profile</a>
                <a class="hamburger-link" href="/user/:id/cookbook/">Cookbook</a>
                <a class="hamburger-link" href="/user/:id/friends/">Friends</a>
                <a class="hamburger-link" href="/user/:id/shopping-list/">Shop List</a>
                <a class="hamburger-link" href="/search">Search</a>
            </div> 
        </section>
    </header>