:root {
    --green: #588B8B;
    --white: #fff;
    --peach: #FFD5C2;
    --tpeach: #FFD5C2CC;
    --orange: #F28F3B;
    --red: #C8553D;
    --rubik: 'Rubik', sans-serif;
    --shadows: 'Shadows Into Light', cursive;
    --unbounded: 'Unbounded', cursive;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--peach);
    align-items: flex-end;
}

/* font-family: 'Rubik', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Solitreo', cursive;
font-family: 'Unbounded', cursive; */

/* HEADER */
.navbar {
    display: flex;
    height: 15vh;
    width: 100%;
    margin-top: 0%;
    background-color: var(--red);
    text-decoration: none;
    color: var(--white);
    position: sticky;
    top: 0;
    font-family: var(--shadows);
    z-index: 1;
}

.logo {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-left: 9px;
}

.navlinks:link,
.navlinks:visited {
    color: var(--peach);
    text-decoration: none;
}

.navlinks:active {
    color: var(--green)
}

.header-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 95%;
    color: var(--white);
    text-decoration: none;
    font-size: 2em;
    font-family: var(--shadows);  
}



.navbar-ul {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    list-style: none;
    width: 100%;
}

.navlinks {
    text-align: center;
    font-size: 1.5em;
}

.login-navlink {
    width: 10vw;
    padding-left: 1vw;
}

@media screen and (max-width: 600px) { 
    .navlinks {
        display: none;
    }
    .fa-bars {
        display: flex;
        color: var(--peach);
        align-self: center;
        width: 15%;
    }
}
@media screen and (min-width: 601px) {
    .fa-bars {
    visibility: hidden;
    }
}


/* footer */
.footer-container {
    display: flex;
    background-color: var(--orange);
    width: 100%;
    height: 30vh;
    margin-top: 10vh;
}

/* HOME.HTML */
div.home-container {
    background-image: url(/PP_imgs/maarten-van-den-heuvel-EzH46XCDQRY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
    /* margin: auto; */
    margin-top: 1vh;
    margin-bottom: 1vh;
    overflow-y: scroll;
}

.home-about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-about-headline {
    width: 50vw;
    align-self: center;
    background-color: var(--tpeach);
    opacity: 0.9;
    color: black;
    border-radius: 18px;
    margin-top: 15vh;
    padding: 1.5%;
    font-family: var(--shadows);
    font-weight: 900;
}

.create-login-container {
    background-color:  var(--tpeach);
    width: 30vw;
    border-radius: 18px;
    margin-top: 5vh;
    padding-bottom: 2%;
}

.home-label {
    color: var(--red);
    font-size: 1.5em;
    opacity: 1;
}

button.create-account,
button.login {
    background-color: var(--green);
    color: var(--peach);
    font-size: 1em;
    width: fit-content;
    padding: 2%;
    border-radius: 20px;
    opacity: 1;
}

/* REGISTER.HTML */
.reg-container {
    display: flex;
   flex-direction: column;
   align-self: center;
   margin-top: 10vh;
}

.form-title {
    text-align: center;
    font-family: 'Unbounded', cursive;
}
.reg-form {
    display: flex;
    flex-direction: column;
}

.req {
    color: red;
}

.form-row {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: right;
}

.reg-label {
    font-family: 'Unbounded', cursive;
    font-weight: 600;
}    

.reg-input {
    width: 18vw;
    height: 4vh;
    border-radius: 5px;
    border-style: none;
}

.optional:optional {
    background-color: lightgray;
}

.form-req {
    text-align: center;
    font-family: 'Unbounded', cursive;
    font-weight: 600;
}

.submit {
    background-color: var(--green);
    width: fit-content;
    align-self: center;
    font-size: 1em;
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 25px;
    font-family: 'Unbounded', cursive;
}

.reg-submit {
    text-decoration: none;
    color: var(--white);
}