:root {
    --green: #588B8B;
    --white: #fff;
    --peach: #FFD5C2;
    --tpeach: #FFD5C2CC;
    --orange: #F28F3B;
    --paper: #FEFBEA;
    --red: #C8553D;
    --rubik: 'Rubik', sans-serif;
    --shadows: 'Shadows Into Light', cursive;
    --unbounded: 'Unbounded', cursive;
}
/* font-family: 'Rubik', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Solitreo', cursive;
font-family: 'Unbounded', cursive; */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--peach);
    align-items: flex-end;
}

.alphabet-nav {
    margin: 1% 0 1% 0;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-family: 'Unbounded', cursive;
    font-weight: 600;
    width: 100%;
}   

.input {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border-style: none;
}

/* .main-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 10vh;
} */

.form-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 5vh;
}

.green-button {
    background-color: var(--green);
    color: var(--peach);
    border-style: none;
    font-size: 1em;
    width: fit-content;
    padding: 2% 5% 2% 5%;
    border-radius: 20px;
    opacity: 1;
    font-family: var(--rubik);
}

.submit {
    background-color: var(--green);
    color: var(--peach);
    width: fit-content;
    font-size: 1em;
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 25px;
    font-family: 'Unbounded', cursive;
    border-style: none;
}



/* HEADER */
.header {
    display: flex;
    height: 60px;
    width: 100%;
    margin-top: 0%;
    background-color: var(--red);
    text-decoration: none;
    color: var(--white);
    position: sticky;
    top: 0;
    font-family: var(--shadows);
    z-index: 1;
}
.logo-container {
    width: 55px;
}
.logo {
    display: flex;
    justify-content: center;
    margin-top: 1.5px;
    margin-left: 1px;
    width: 55px;
}

.header-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: var(--white);
    text-decoration: none;
    font-size: 3em;
    font-family: var(--shadows);  
}

.navbar-new {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    list-style: none;
    width: 100%;
}

.navbar-user {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
}

.navlinks {
    text-align: center;
    width: fit-content;
}
.navlinks:link,
.navlinks:visited {
    color: var(--peach);
    text-decoration: none;
}

.navlinks:active {
    color: var(--green)
}

@media only screen and (max-width: 768px) { 
    .navlinks {
        display: none;
    }
    .fa-bars {
        display: flex;
        color: var(--peach);
        align-self: center;
        width: 30%;
    }
    .header-title {
        font-size: 5vw;
    }
}
@media only screen and (min-width: 769px) {
    .fa-bars {
    visibility: hidden;
    }
}


/* footer */
.footer-container {
    display: flex;
    background-color: var(--orange);
    width: 100%;
    height: 30vh;
}

/* COOKBOOK.HTML */
.cookbook-container {
    background-color: var(--paper);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 90vw;
}
.cookbook-title {
    font-family: var(--unbounded);
    margin-bottom: 0;
}
.cookbook-sub-title {
    font-family: var(--rubik);
    margin-top: 0;
}
.search-own-recipes {
    border-radius: 15px;
    width: 20%;
}
.max786-recipe-list {
    width: 90%;
}
.recipe-list {
    display: flex;
    flex-direction: column;
    margin: 2% 0 2% 0;
    width: 100%;
}
.recipe-row {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
}
.recipe-img {
    width: 100px;
    min-width: 100px;
    height: 100px;
    margin-right: 1%;
}

.recipe-link {
    text-decoration: none;
    font-size: 1.5em;
    font-family: var(--shadows);
}
.alphabet-nav {
    font-family: var(--unbounded);
    font-weight: 900;
}
.alphabet-nav-side {
    visibility: hidden;
    font-family: var(--unbounded);
    font-weight: 900;
}
@media only screen and (max-width: 768px) {
    .alphabet-nav {
        visibility: hidden;
    }
    .alphabet-nav-side {
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .max786-recipe-list {
        display: flex;
        flex-direction: row;
    }
}

/* HOME.HTML */
.home-container {
    background-image: url(/PP_imgs/maarten-van-den-heuvel-EzH46XCDQRY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
    overflow-y: scroll;
}

.home-about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-about-headline {
    width: 70vw;
    align-self: center;
    background-color: var(--tpeach);
    opacity: 0.9;
    color: black;
    border-radius: 18px;
    margin-top: 15vh;
    padding: 1.5%;
    font-family: var(--shadows);
    font-size: x-large;
}

.create-login-container {
    background-color:  var(--tpeach);
    width: 50vw;
    border-radius: 18px;
    margin-top: 5vh;
    padding-bottom: 2%;
}

.home-label {
    color: var(--red);
    font-size: 1.5em;
    font-family: var(--rubik);
}

/* LOGIN.HTML */

/* .form-container {
   display: flex;
   flex-direction: column;
   align-self: center;
   margin-top: 5vh;
} */
.login-button {
    width: 100%;
    align-self: center;
}

/* PROFILE.HTML */

/* body {
    display: flex;
    flex-direction: column;
    background-color: var(--peach);
    align-items: flex-end;
} */
.profile-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: 5%;
    margin-top: 5vh;
}
.profile-bio {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-self: flex-start;
    width: 40%;
}

.portrait {
    display: flex;
    border: solid 2px var(--red);
    width: 15vw;
    height: 20vw;
}
.fa-image-portrait {
    align-self: center;
    font-size: 9.3em;
    margin: auto;
}

.name {
    font-family: 'Solitreo', cursive;
    font-size: 1.5em;
}
.bio {
    font-family: 'Solitreo', cursive;
}

.profile-links {
    display: flex;
    align-items: center;
    width: 100%;
}
.user-actions {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.action {
    background-color: var(--red);
    color: var(--peach);
    border-radius: 25px;
    border-style: none;
    width: 200%;
    height: 10vh;
    margin: 5% 0 15% 35%;
    font-family: var(--unbounded);
    font-size: 1em;
    font-weight: 900;
}


/* RECIPE.HTML */
.recipe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 95%;
}
.recipe-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--rubik);
    width: 90%;
}
.edit {
    background-color: var(--green);
    color: var(--peach);
    width: fit-content;
    font-size: 0.8em;
    border-radius: 25px;
    font-family: 'Unbounded', cursive;
    border-style: none;
    justify-self: center;
    margin-left: 1%;
}
.recipe-album {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 50%;
    height: 75px;
}
.add-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
}
.fa-camera {
    width: 100%;
    height: 20px;
}
.ingredients-instructions {
    display: flex;
    font-family: var(--unbounded);
}

.just-ingredients {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.ingredient-item {
    line-height: 1.7em;
    width: 90%;
}
.instructions {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.recipe-instructions {
    display: flex;
    flex-direction: column;
    justify-self: space-between;
    padding-left: 5%;
}
.instructions-step {
    line-height: 1.5em;
    margin-bottom: 2em;
}

/* REGISTER.HTML */
/* .form-container {
   display: flex;
   flex-direction: column;
   align-self: center;
   margin-top: 5vh;
} */

.form-title {
    text-align: center;
    font-family: 'Unbounded', cursive;
}

.req {
    color: red;
}

.form-row {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: left;
}

.optional:optional {
    background-color: lightgray;
}

.form-req {
    text-align: center;
    font-family: 'Unbounded', cursive;
    font-weight: 600;
}

.submit {
    background-color: var(--green);
    width: fit-content;
    align-self: center;
    font-size: 1em;
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 25px;
    font-family: 'Unbounded', cursive;
}

.reg-submit {
    text-decoration: none;
    color: var(--white);
}



/* SHOPPING_LIST.html */
.shopping-container {
    background: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    height: auto;
    min-height: 300px;
    width: 90%;
    min-width: 175px;
    margin: 5% 0 5% 0;
    background: url(/PP_imgs/transparent_lined_paper.png) no-repeat center center fixed;
    background-size: 105vw 200vh;
}

.shopping-list-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    position: relative;
    font-family: var(--unbounded);
    font-size: 1.8em;
}


.sorted-shopping-list {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-wrap: wrap;
    width: 80%;
    /* min-width: 300px; */
}

.shopping-list-category-head {
    align-self: flex-start;
    font-family: var(--rubik);
    font-size: 1.3em;
    text-decoration: underline;
    margin-bottom: 0;
    padding-left: 8%;
}
.shopping-list-category {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20vw;
}
.shopping-list-category-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: var(--shadows);
    font-size: 1.05em;
    padding-left: 0;
    
}
.shopping-list-item {
    position: relative;
    font-size: 1.2em;
    line-height: 30px;
    width: 100%;
    font-family: var(--shadows);
    font-weight: 900;
}

.under-shopping-list {
    position: relative;
    background-color: var(--white);
    width: 100%;
    height: 100%;
    min-height: 70px;
    border-radius: 10px;
}


@media only screen and (max-width: 768px) {
    .sorted-shopping-list {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
    }
    .shopping-list-item {
        display: flex;
        
    }
}
    
/* checkbox css (shopping_list.html) */
