:root {
    --green: #588B8B;
    --white: #fff;
    --peach: #FFD5C2;
    --tpeach: #FFD5C2CC;
    --orange: #F28F3B;
    --paper: #FEFBEA;
    --red: #C8553D;
    --rubik: 'Rubik', sans-serif;
    --shadows: 'Shadows Into Light', cursive;
    --unbounded: 'Unbounded', cursive;
    --roboto: 'Roboto', sans-serif;
}
/* font-family: 'Rubik', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Unbounded', cursive; */

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--peach);
    
}

.alphabet-nav {
    margin: 1% 0 1% 0;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-family: 'Unbounded', cursive;
    font-weight: 600;
    width: 100%;
}   

.input {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border-style: none;
}

/* .main-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 10vh;
} */

.form-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 5vh;
}
h1 {
    font-family: var(--unbounded);
}

/* Global inputs & buttons CSS */
.checkmark {
    border-style: none;
}

.green-button {
    background-color: var(--green);
    color: var(--peach);
    border-style: none;
    font-size: 1em;
    width: fit-content;
    padding: 2% 5% 2% 5%;
    border-radius: 20px;
    opacity: 1;
    font-family: var(--rubik);
    cursor: pointer;
}

.submit {
    background-color: var(--green);
    color: var(--peach);
    width: fit-content;
    font-size: 1em;
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 25px;
    font-family: 'Unbounded', cursive;
    border-style: none;
    cursor: pointer;
}

.join {
    justify-self: center;
    
}
.edit {
    min-width: 100px;
    cursor: pointer;
}
.centered-button-div {
    display: flex;
    justify-content: center;
}

button.edit:hover,
button.edit:visited,
button.dropbtn:hover,
button.dropbtn:visited {
    color: var(--orange);
}
button.edit:active,
button.dropbtn:active {
    color: var(--red);
}

button.action:hover,
button.action:visited {
    color: var(--orange);
}
button.action:active {
    color: var(--green);
}



/* HEADER */
.header {
    display: flex;
    height: 60px;
    width: 100%;
    margin-top: 0%;
    background-color: var(--red);
    text-decoration: none;
    color: var(--white);
    position: sticky;
    top: 0;
    font-family: var(--shadows);
    z-index: 1;
}
.logo-container {
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    margin-top: 1.5px;
    margin-left: 1px;
    width: 55px;
}

.header-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: var(--white);
    text-decoration: none;
    font-size: 3em;
    font-family: var(--shadows);  
}

.navbar-new {
    display: flex;
    justify-content: space-between;
    align-self: center;
    list-style: none;
    width: 100%;
    float: right;
}

.navbar-user {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 100%;
}

.navlinks {
    text-align: center;
    width: 100%;
    align-self: center;
    font-size: 1.1em;
    justify-content: center;
    font-family: var(--rubik);
}
.navlinks:link,
.navlinks:visited {
    color: var(--peach);
    text-decoration: none;
}

.navlinks:hover,
.navlinks:active {
    color: var(--green);
}



@media only screen and (max-width: 768px) { 
    .navlinks {
        display: none;
    }
    .fa-bars {
        display: flex;
        color: var(--peach);
        align-self: center;
    }
    
    .header-title {
        font-size: 2em;
        
    }
    .navbar-user,
    .navbar-new {
        width: 10%;
    }

    .hamburger-dropdown {
        position: relative;
        display: inline-block;
        width: 10%;
        padding-top: 22px;
    }
    .hamburger-menu {
        display: flex;
        cursor: pointer;
        align-self: center;
        margin-bottom: 20px;
    }
    .hamburger-dropdown-content {
        display: none;
        position: absolute;
        width: 97px;
        border: none;
        z-index: 1;
        font-family: var(--shadows);
        background-color: var(--red);
        font-size: 16px;
        left: auto;
        right: 0;
        text-align: right;
    }
    
    .hamburger-dropdown-content a {
        color: var(--peach);
        padding-right: 10px;
        padding-bottom: 5px;
        text-decoration: none;
        display: block;
    }
    .hamburger-dropdown-content a:hover {
        color: var(--orange);
    }
    .hamburger-dropdown-content a:active {
        color: var(--red);
    }
    .hamburger-show {
        display: block;
    }
}
@media only screen and (min-width: 769px) {
    .hamburger-dropdown,
    .fa-bars {
    display: none;
    }
}

/* FOOTER */
.footer-container {
    display: flex;
    background-color: var(--orange);
    width: 100%;
}
.footer-logo-container {
    width: 55%;
    display: flex;
    justify-content: flex-end;
}
.footer-logo {
   width: 50%;
   min-width: 180px;
}
.footer-nav {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-link {
    color: var(--peach);
    text-decoration: none;
    font-family: var(--rubik);
    font-size: 1.2em;
}

/* CONTACT_US.HTML */
.contact-us-title {
    font-family: var(--unbounded);
    margin-bottom: 0;
}
.contact-us-subtitle {
    font-family: var(--shadows);
    font-size: 1.3em;
    margin-top: 0;
}
.contact-us-row {
    margin-bottom: 10%;
}
.textarea {
    height: 200px;
    margin-bottom: -20px;
}

/* COOKBOOK.HTML */
/* FRIEND_PROFILE.HTML */
.cookbook-container {
    background-color: var(--paper);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 90vw;
}
.cookbook-title {
    margin-bottom: 0;
}
.cookbook-sub-title {
    font-family: var(--rubik);
    margin-top: 0;
}
.search-own-recipes {
    border-radius: 15px;
    width: 20%;
}
.max786-recipe-list {
    width: 90%;
}
.recipe-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
}
.add-cookbook {
    align-self: center;
}
.recipe-row {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
}
.recipe-img {
    width: 100px;
    min-width: 100px;
    height: 100px;
}

.recipe-link {
    display: flex;
    text-decoration: none;
    font-size: 1.5em;
    font-family: var(--shadows);
    color: var(--red);
    
}
.recipe-figcaption {
    width: 100%;
    padding-left: 5px;
}
.alphabet-nav {
    font-family: var(--unbounded);
    font-weight: 900;
}
.alphabet-nav-side {
    visibility: hidden;
    font-family: var(--unbounded);
    font-weight: 900;
}
@media only screen and (max-width: 768px) {
    .alphabet-nav {
        visibility: collapse;
    }
    .alphabet-nav-side {
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .max786-recipe-list {
        display: flex;
        flex-direction: row;
    }
    .add-cookbook {
        margin-top: 1%;
    }
}


/* FRIENDS.HTML BELOW WITH SEARCH.HTML */

/* HOME.HTML */


.home-container {
    background-image: url(/image/maarten-van-den-heuvel-EzH46XCDQRY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 10%;
}

.home-about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-about-headline {
    width: 70vw;
    align-self: center;
    background-color: var(--tpeach);
    opacity: 0.9;
    color: black;
    border-radius: 18px;
    margin-top: 15vh;
    padding: 1.5%;
    font-family: var(--shadows);
    font-size: x-large;
}

.create-login-container {
    background-color:  var(--tpeach);
    width: 50vw;
    border-radius: 18px;
    margin-top: 5vh;
    padding-bottom: 2%;
}

.home-label {
    color: var(--red);
    font-size: 1.5em;
    font-family: var(--rubik);
}


/* LOGIN.HTML */

/* .form-container {
   display: flex;
   flex-direction: column;
   align-self: center;
   margin-top: 5vh;
} */
.login-button {
    width: 100%;
    align-self: center;
}


/* PROFILE.HTML */
/* FRIEND_PROFILE.HTML */

/* body {
    display: flex;
    flex-direction: column;
    background-color: var(--peach);
    align-items: flex-end;
} */
.profile-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: 5%;
    margin-top: 5vh;
    width: 90%;
}
.profile-bio {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-self: flex-start;
    width: 50%;
    padding: 5%;
}

.portrait {
    display: flex;
    border: solid 2px var(--red);
    width: 125px;
    min-width: 125px;
    height: 150px;
    min-height: 150px;
}
.fa-image-portrait {
    font-size: 3em;
    margin: auto;
}

.bio-text {
    font-family: var(--unbounded);
}

.name {
    font-size: 1.5em;
    align-self: flex-start;
    margin-top: 5px;
    margin-bottom: 0;
}

.profile-links {
    display: flex;
    width: 50%;
}
.user-actions {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    padding-left: 0;
    align-self: center;
}
.profile-button {
    width: 100%;
}
.action {
    background-color: var(--red);
    color: var(--peach);
    border-radius: 25px;
    border-style: none;
    width: 100%;
    min-width: 200px;
    height: 10vh;
    margin: 0 0 10% 0;
    font-family: var(--unbounded);
    font-size: 1em;
    font-weight: 900;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .profile-container {
        display: flex;
        flex-direction: column;
    }
    .profile-bio {
        display: flex;
        flex-direction: row;
        align-self: center;
        width: 100%;
    }
    .bio-text {
        width: 100%;
        margin-left: 5px;
    }
    .profile-links {
        align-self: center;
    }
}
    

/* PROFILE_EDIT.HTML */
.hidden-title-769 {
    display: none;
} 
.edit-profile-bio {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: flex-end;
    padding-top: 24px;
}
.bio-edit {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
} 
.edit-portrait {
    display: flex;
    border: solid 2px var(--red);
    width: 125px;
    min-width: 125px;
    height: 150px;
    min-height: 150px;
}
.edit-form-row {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 75%;
    min-width: 285px;
}


@media screen and (max-width: 768px) {
    .hidden-title-769 {
        visibility: visible;
    }
    .profile-container {
        align-items: center;
    }
    .edit-profile-bio {
        align-items: center;
    }
    .bio-edit {
        align-items: center;
    }
}

/* RECIPE */
/* RECIPE-NEW */
.recipe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 95%;
}

.new-recipe {
    margin-bottom: 20px;
}
.new-recipe-form {
    width: 100%;
}
.recipe-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--rubik);
    width: 90%;
}
.edit {
    background-color: var(--green);
    color: var(--peach);
    width: fit-content;
    font-size: 0.8em;
    border-radius: 25px;
    font-family: 'Unbounded', cursive;
    border-style: none;
    justify-self: center;
    margin-left: 1%;
}
.recipe-album {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 90%;
    height: 75px;
}
.new-recipe-album {
    margin-bottom: 10px;
}
.add-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.fa-camera {
    width: 100%;
    height: 20px;
}
.recipe-album-img {
    width: 70px;
    height: 75px;
}
.ingredients-title {
    margin-top: 50px;
    margin-bottom: 0;
}
.ingredients-instructions {
    display: flex;
    font-family: var(--unbounded);
    justify-content: space-evenly;
}
.new-ingredients {
    margin-bottom: 10px;
    margin-right: 10px;
    width: 100%;
}
.just-ingredients {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    font-family: var(--roboto);
    font-weight: 300;
    font-size: 20px;
}
.ingredients-list-subtitle {
    text-decoration: underline;
    margin-bottom: 2px;
    font-size: 22px;
}
.ingredient-item {
    line-height: 1.7em;
    width: 90%;
}
.checkbox {
    height: 100%;
    width: 100%;
}
.instructions {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.new-instructions {
    margin-right: 10px;
}
.recipe-instructions {
    display: flex;
    flex-direction: column;
    justify-self: space-between;
    padding-left: 5%;
    font-family: var(--roboto);
    font-weight: 300;
    font-size: 20px;
}

.instructions-step {
    line-height: 1.5em;
    margin-bottom: 2em;
}

.new-recipe-input {
    height: 300px;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .ingredients-instructions {
        display: flex;
        flex-direction: column;
    }
}



/* REGISTER.HTML */
/* .form-container {
   display: flex;
   flex-direction: column;
   align-self: center;
   margin-top: 5vh;
} */

.form-title {
    text-align: center;
    font-family: 'Unbounded', cursive;
}

.req {
    color: red;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-row {
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: left;
    width: 100%;
}


.form-req {
    text-align: center;
    font-family: 'Unbounded', cursive;
    font-weight: 600;
}

.join {
    width: 100px;
}


/* SEARCH.HTML */
/* FRIENDS.HTML */
.search-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.search-container-bar {
    display: flex;
    font-size: 0;
}

.search-input {
    height: 100%;
    border-style: none;
    padding: 0;
}
.dropbtn {
    background-color: var(--green);
    color: var(--peach);
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: var(--rubik);
    margin-top: 3px;
  }
.dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    border: none;
    z-index: 1;
    font-family: var(--rubik);
    background-color: var(--green);
    font-size: 16px;
}
.dropdown-content a {
    color: var(--peach);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    color: var(--orange);
}
.dropdown-content a:active {
    color: var(--red);
}
.show {
    display:block;
}
.mag-glass {
    height: 100%;
    width: 40px;
    align-self: center;
    padding: 0;
    border: 0 none;
    cursor: pointer;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

a.search-result-link {
    border: solid 1px var(--red);
    padding: 1em;
    margin: 1%;
}

.search-result-img {
    width: 150px;
    height: 200px;
}
.search-result-title {
    font-family: var(--shadows);
    font-size: 1.3em;
    color: var(--red);
}
@media  screen and (max-width: 368px) {
    .search-container-bar {
        width: 100%;
    }
    .search-input {
        width: 50%;
        align-self: center;
    }
}
    

/* SHOPPING_LIST.html */
.shopping-container {
    background: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    height: auto;
    min-height: 300px;
    width: 90%;
    min-width: 175px;
    margin: 5% 0 5% 0;
    background: url(/image/transparent_lined_paper.png) no-repeat center center fixed;
    background-size: 105vw 200vh;
}

.shopping-list-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    position: relative;
    font-family: var(--unbounded);
    font-size: 1.8em;
}

.sorted-shopping-list {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-wrap: wrap;
    width: 80%;
}

.shopping-list-category-head {
    align-self: flex-start;
    font-family: var(--rubik);
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 0;
    padding-left: 8%;
    color: var(--green);
}
.shopping-list-category {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    min-width: 150px;
}
.shopping-list-category-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: var(--shadows);
    font-size: 1.15em;
    padding-left: 0;
    margin-top: 1px;
}
.shopping-list-item {
    position: relative;
    font-size: 1.3em;
    line-height: 40px;
    width: 100%;
    font-family: var(--shadows);
    font-weight: 900;
}

.under-shopping-list {
    position: relative;
    background-color: var(--white);
    width: 100%;
    height: 100%;
    min-height: 70px;
    border-radius: 10px;
}

.shop-list-checkbox:checked + span {
    text-decoration: line-through;
}

@media only screen and (max-width: 768px) {
    .sorted-shopping-list {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
    }
    .shopping-list-item {
        display: flex;
        
    }
}
    

