<%- include('../partials/head') -%>
<%- include('../partials/navbar(registered)') -%>

    <main class="cookbook-container">
        <h1 class="cookbook-title">Cookbook</h1>
        <p class="cookbook-sub-title">Click on a recipe to open it</p>
        <div class="search-container">
            <form action="#">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <nav class="alphabet-nav">
            <a class="alphabet-link" href="#">A</a>
            <a class="alphabet-link" href="#">B</a>
            <a class="alphabet-link" href="#">C</a>
            <a class="alphabet-link" href="#">D</a>
            <a class="alphabet-link" href="#">E</a>
            <a class="alphabet-link" href="#">F</a>
            <a class="alphabet-link" href="#">G</a>
            <a class="alphabet-link" href="#">H</a>
            <a class="alphabet-link" href="#">I</a>
            <a class="alphabet-link" href="#">J</a>
            <a class="alphabet-link" href="#">K</a>
            <a class="alphabet-link" href="#">L</a>
            <a class="alphabet-link" href="#">M</a>
            <a class="alphabet-link" href="#">N</a>
            <a class="alphabet-link" href="#">O</a>
            <a class="alphabet-link" href="#">P</a>
            <a class="alphabet-link" href="#">Q</a>
            <a class="alphabet-link" href="#">R</a>
            <a class="alphabet-link" href="#">S</a>
            <a class="alphabet-link" href="#">T</a>
            <a class="alphabet-link" href="#">U</a>
            <a class="alphabet-link" href="#">V</a>
            <a class="alphabet-link" href="#">W</a>
            <a class="alphabet-link" href="#">X</a>
            <a class="alphabet-link" href="#">Y</a>
            <a class="alphabet-link" href="#">Z</a>
        </nav>
    <div class="max786-recipe-list">
        <section class="recipe-list">
            <button class="green-button edit add-cookbook" type="submit" onclick="">Add New Recipe</button>
            <figure class="recipe-row">
                <a class="recipe-link" href="/recipe">
                <img class="recipe-img" src="/image/lauren-gray-cinnamon-rolls.jpg" alt=""></a>
                <figcaption class="recipe-figcaption"><a class="recipe-link" href="recipe.html">Cinnamon Rolls</a></figcaption>
            </figure>
            <figure class="recipe-row">
                <a class="recipe-link" href="#">
                <img class="recipe-img" src="/image/pappardelle.jpg" alt=""></a>
                <figcaption class="recipe-figcaption"><a class="recipe-link" href="#">Creamy Butternut, Bacon and Leek Pappardelle</a></figcaption>
            </figure>
            <figure class="recipe-row">
                <a class="recipe-link" href="#">
                <img class="recipe-img" src="/image/stefen-tan-katsu-curry.jpg" alt=""></a>
                <figcaption class="recipe-figcaption"><a class="recipe-link" href="#">Japanese Katsu Curry</a></figcaption>
            </figure>
            <figure class="recipe-row">
                <a class="recipe-link" href="#">
                <img class="recipe-img" src="/image/jonathan-farber-lemon-chicken.jpg" alt=""></a>
                <figcaption class="recipe-figcaption"><a class="recipe-link" href="#">Lemon Garlic Chicken</a></figcaption>
            </figure>
            <figure class="recipe-row">
                <a class="recipe-link" href="#">
                <img class="recipe-img" src="/image/pexels-alesia-kozik-lentil-soup.jpg" alt=""></a>
                <figcaption class="recipe-figcaption"><a class="recipe-link" href="#">Lentil Soup</a></figcaption>
            </figure>
            <figure class="recipe-row">
                <a class="recipe-link" href="#">
                <img class="recipe-img" src="/image/amirali-mirhashemian-tomato-spinach-pasta.jpg" alt=""></a>
                <figcaption class="recipe-figcaption"><a class="recipe-link" href="#">Tomato and Spinach Pasta</a></figcaption>
            </figure>
        </section>
        <nav class="alphabet-nav-side">
            <a class="alphabet-link" href="#">A</a>
            <a class="alphabet-link" href="#">B</a>
            <a class="alphabet-link" href="#">C</a>
            <a class="alphabet-link" href="#">D</a>
            <a class="alphabet-link" href="#">E</a>
            <a class="alphabet-link" href="#">F</a>
            <a class="alphabet-link" href="#">G</a>
            <a class="alphabet-link" href="#">H</a>
            <a class="alphabet-link" href="#">I</a>
            <a class="alphabet-link" href="#">J</a>
            <a class="alphabet-link" href="#">K</a>
            <a class="alphabet-link" href="#">L</a>
            <a class="alphabet-link" href="#">M</a>
            <a class="alphabet-link" href="#">N</a>
            <a class="alphabet-link" href="#">O</a>
            <a class="alphabet-link" href="#">P</a>
            <a class="alphabet-link" href="#">Q</a>
            <a class="alphabet-link" href="#">R</a>
            <a class="alphabet-link" href="#">S</a>
            <a class="alphabet-link" href="#">T</a>
            <a class="alphabet-link" href="#">U</a>
            <a class="alphabet-link" href="#">V</a>
            <a class="alphabet-link" href="#">W</a>
            <a class="alphabet-link" href="#">X</a>
            <a class="alphabet-link" href="#">Y</a>
            <a class="alphabet-link" href="#">Z</a>
        </nav>
    </div>
    </main>

<%- include('../partials/footer(registered)') -%>