<%- include('../partials/head') -%>
<%- include('../partials/navbarRegistered') -%>

    <main class="cookbook-container">
        <h1 class="cookbook-title">Cookbook</h1>
        <p class="cookbook-sub-title">Click on a recipe to open it</p>
        <div class="search-container">
            <form action="#">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <nav class="alphabet-nav" id="alphabet-nav">
            <a class="alphabet-link" href="#">A</a>
            <a class="alphabet-link" href="#">B</a>
            <a class="alphabet-link" href="#">C</a>
            <a class="alphabet-link" href="#">D</a>
            <a class="alphabet-link" href="#">E</a>
            <a class="alphabet-link" href="#">F</a>
            <a class="alphabet-link" href="#">G</a>
            <a class="alphabet-link" href="#">H</a>
            <a class="alphabet-link" href="#">I</a>
            <a class="alphabet-link" href="#">J</a>
            <a class="alphabet-link" href="#">K</a>
            <a class="alphabet-link" href="#">L</a>
            <a class="alphabet-link" href="#">M</a>
            <a class="alphabet-link" href="#">N</a>
            <a class="alphabet-link" href="#">O</a>
            <a class="alphabet-link" href="#">P</a>
            <a class="alphabet-link" href="#">Q</a>
            <a class="alphabet-link" href="#">R</a>
            <a class="alphabet-link" href="#">S</a>
            <a class="alphabet-link" href="#">T</a>
            <a class="alphabet-link" href="#">U</a>
            <a class="alphabet-link" href="#">V</a>
            <a class="alphabet-link" href="#">W</a>
            <a class="alphabet-link" href="#">X</a>
            <a class="alphabet-link" href="#">Y</a>
            <a class="alphabet-link" href="#">Z</a>
        </nav>
    <div class="max786-recipe-list" id="recipe-list">
        <section class="recipe-list" id="recipe-list" style="margin-top: 0;">
            <a class="green-button" style="width:60vw; text-align: center;" href="./create-recipe">Add New Recipe</a>


            <%- include ('../partials/cookbook-loop.ejs') %>
 

        </section>
        <nav class="alphabet-nav-side">
            <a class="alphabet-link" href="#">A</a>
            <a class="alphabet-link" href="#">B</a>
            <a class="alphabet-link" href="#">C</a>
            <a class="alphabet-link" href="#">D</a>
            <a class="alphabet-link" href="#">E</a>
            <a class="alphabet-link" href="#">F</a>
            <a class="alphabet-link" href="#">G</a>
            <a class="alphabet-link" href="#">H</a>
            <a class="alphabet-link" href="#">I</a>
            <a class="alphabet-link" href="#">J</a>
            <a class="alphabet-link" href="#">K</a>
            <a class="alphabet-link" href="#">L</a>
            <a class="alphabet-link" href="#">M</a>
            <a class="alphabet-link" href="#">N</a>
            <a class="alphabet-link" href="#">O</a>
            <a class="alphabet-link" href="#">P</a>
            <a class="alphabet-link" href="#">Q</a>
            <a class="alphabet-link" href="#">R</a>
            <a class="alphabet-link" href="#">S</a>
            <a class="alphabet-link" href="#">T</a>
            <a class="alphabet-link" href="#">U</a>
            <a class="alphabet-link" href="#">V</a>
            <a class="alphabet-link" href="#">W</a>
            <a class="alphabet-link" href="#">X</a>
            <a class="alphabet-link" href="#">Y</a>
            <a class="alphabet-link" href="#">Z</a>
        </nav>
    </div>
    </main>

<%- include('../partials/footerRegistered') -%>