<%- include('../partials/head') -%>
<%- include('../partials/navbarRegistered') -%>

    <main class="search-main">

        <h1>Friends</h1>

        <section class="search-container-bar">
            <form class="search-bar-form" action="#" aria-label="search">
                <input class="search-input" type="text" placeholder="Search friends..." name="search" aria-label="search bar">
                
                <button class="mag-glass" type="submit" aria-label="search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </section>

        <section class="search-results">
            
            <a class="search-result-link" href="#">
                <div class="search-result-link-top">
                    <img class="search-result-img" src="/image/fotointoscana-by-moira-e-raffaella-eggplant-parmesan.jpg" alt="single serving of eggplant parmesan">
                </div>
                <div class="search-result-title">
                    John Doe
                </div>
            </a>
            
            <a class="search-result-link" href="">
                <div class="search-result-link-top">
                    <img class="search-result-img" src="/image/sunorwind-eggplant-lasagna.jpg" alt="single serving of eggplant lasagna">
                </div>
                <div class="search-result-title">
                    Madam Baker
                </div>
            </a>

            <a class="search-result-link" href="">
                <div class="search-result-link-top">
                    <img class="search-result-img" src="/image/markus-spiske-grilled-eggplant.jpg" alt="eggplant slices on grill">
                </div>
                <div class="search-result-title">
                    Cook McMaster
                </div>
            </a>
        </section>
    </main>

<%- include('../partials/footerRegistered') -%>