<%- include('../partials/head') -%>
<%- include('../partials/navbar(registered)') -%>

    <main class="profile-container">
        <section class="profile-bio">
            <picture class="portrait">
                <i class="fa-solid fa-image-portrait"></i>
            </picture>
            <section class="bio-text">
                <p class="name">Friend McFriend</p>
                <p class="bio">I am a home cook from Who-ville with a passion for bread baking!</p>
                <button class="submit edit" onclick="" >Add Friend</button>
                <button class="submit edit" onclick="">Block</button>
            </section>
        </section>
        <section class="recipe-list">
            
            <figure class="recipe-row">
                <a class="recipe-link" href="#">
                <img class="recipe-img" src="/image/lauren-gray-cinnamon-rolls.jpg" alt=""></a>
                <figcaption class="recipe-figcaption"><a class="recipe-link" href="#">Cinnamon Rolls</a></figcaption>
            </figure>
            <figure class="recipe-row">
                <a class="recipe-link" href="#">
                <img class="recipe-img" src="/image/pappardelle.jpg" alt=""></a>
                <figcaption class="recipe-figcaption"><a class="recipe-link" href="#">Creamy Butternut, Bacon and Leek Pappardelle</a></figcaption>
            </figure>
            <figure class="recipe-row">
                <a class="recipe-link" href="#">
                <img class="recipe-img" src="/image/stefen-tan-katsu-curry.jpg" alt=""></a>
                <figcaption class="recipe-figcaption"><a class="recipe-link" href="#">Japanese Katsu Curry</a></figcaption>
            </figure>
            <figure class="recipe-row">
                <a class="recipe-link" href="#">
                <img class="recipe-img" src="/image/jonathan-farber-lemon-chicken.jpg" alt=""></a>
                <figcaption class="recipe-figcaption"><a class="recipe-link" href="#">Lemon Garlic Chicken</a></figcaption>
            </figure>
            <figure class="recipe-row">
                <a class="recipe-link" href="#">
                <img class="recipe-img" src="/image/pexels-alesia-kozik-lentil-soup.jpg" alt=""></a>
                <figcaption class="recipe-figcaption"><a class="recipe-link" href="#">Lentil Soup</a></figcaption>
            </figure>
            <figure class="recipe-row">
                <a class="recipe-link" href="#">
                <img class="recipe-img" src="/image/amirali-mirhashemian-tomato-spinach-pasta.jpg" alt=""></a>
                <figcaption class="recipe-figcaption"><a class="recipe-link" href="#">Tomato and Spinach Pasta</a></figcaption>
            </figure>
        </section>
    </main>

<%- include('../partials/footer(registered)') -%>