<%- include('../partials/head') -%>
<%- include('../partials/navbarNewUser') -%>

<main class="home-container">
    <section class="home-about">
        <h1 class="home-about-headline">Friends have the best recipes! Connect over culinary tastes and share recipes, cookbooks, tips or compliments with Cook With Friends!</h2>
        <section class="create-login-container">
            <p class="home-label">New to Cook with Friends?</p>
            <button class="green-button edit" formaction="/register">Create an Account</button>
            
            <p class="home-label">Already have an account?</p>
            <button class="green-button edit" formaction="/login">Login Here</button>
        </section>
    </section>
</main>

<%- include('../partials/footerNewUser') -%>