<%- include('../partials/head') -%>
<%- include('../partials/navbarNewUser') -%>
    
    <main class="form-container">
        <form class="form">
            <h1 class="form-title">Welcome Back!</h1>
            <button class="submit edit">
                <a href="/auth/google" style="color:var(--peach)">LOGIN WITH GOOGLE</a>
            </button>
            <div class="form-row">
                <label class="label" for="login-username">Username:</label>
                <input type="text" id="login-username" name="login-username" class="input">
            </div>
            <div class="form-row">
                <label class="label" for="login-password">Password:</label>
                <input type="text" id="login-password" name="login-password" class="input">
            </div>
            <button class="submit edit" type="submit">Login</button>
        </form>
    </main>

<%- include('../partials/footerNewUser') -%>