<%- include('../partials/head') -%>
<%- include('../partials/navbarNewUser') -%>
    
    <main class="form-container">
        <form class="form" action="/login" method="POST">
            <h1 class="form-title">Welcome Back!</h1>
            <button class="submit edit">
                <a href="/auth/google" style="color:var(--peach)">LOGIN WITH GOOGLE</a>
            </button>
            <div class="form-row">
                <label class="label" for="username">Username:</label>
                <input type="text" id="username" name="username" class="input" required>
            </div>
            <div class="form-row">
                <label class="label" for="password">Password:</label>
                <input type="password" id="password" name="password" class="input" required>
            </div>
            <button class="submit edit" type="submit">Login</button>
        </form>
    </main>

<%- include('../partials/footerNewUser') -%>