<%- include('../partials/head') -%>
<%- include('../partials/navbar(registered)') -%>

    <main class="profile-container">
        <h1 class="hidden-title-769">Edit Profile</h1>
        <section class="edit-profile-bio">
            <picture class="edit-portrait"></picture>
            <a class="button"><button class="submit edit">Change Picture</button></a>
        </section>
        <form class="bio-edit">
            <h1 class="hidden-title-768">Edit Profile</h1>
            <div class="edit-form-row">
                <label class="label">Name:</label>
                <input class="input" type="text">
            </div>
            <div class="edit-form-row">
                <label class="label">Nickname:</label>
                <input class="input" type="text">
            </div>
            <div class="edit-form-row">
                <label class="label">A blurb about yourself:</label>
                <input class="input" type="textarea">
            </div>
                
            <a class="button" href="">
                <button class="submit edit" type="submit">Save Changes</button>
            </a>
        </form>
    </main>

<%- include('../partials/footer(registered)') -%>