<%- include('../partials/head') -%>
<%- include('../partials/navbar(registered)') -%>

    <main class="recipe-container">
        <header class="recipe-header">
            <h1 class="recipe-title">Cinnamon Rolls</h1>
            <a class="button" href=""><button class="edit" type="submit">Edit</button></a>
            <a class="button" href=""><button class="edit" type="submit">Copy</button></a>
        </header>

        <section class="recipe-album">
            <button class="add-photo"><i class="fa-solid fa-camera"></i>Add Photo</button>
            <img class="recipe-album-img" src="/image/lauren-gray-cinnamon-rolls.jpg" alt="">
            <img class="recipe-album-img" src="/image/lauren-gray-cinnamon-rolls.jpg" alt="">
            <img class="recipe-album-img" src="/image/otto-norin-cinnamon-buns.jpg" alt="">
            <img class="recipe-album-img" src="/image/pille-r-priske-brushed-cinnamon-rolls.jpg" alt="">
        </section>

        <section class="ingredients-instructions">
            <form class="ingredients">
                <h2 class="ingredients-title">Ingredients</h2>
                <section class="just-ingredients">
                <h3 class="ingredients-list-subtitle">Dough</h3>
                <label class="ingredient-item">
                    <input type="checkbox">
                    <span class="checkmark">2
                        <span class=fractions><sup>3</sup>&frasl;<sub>4</sub></span> cups (344g) <strong>all-purpose flour</strong>
                    </span>
                </label>
                <label class="ingredient-item">
                    <input type="checkbox">
                    <span class="checkmark">
                        <span class=fractions><sup>1</sup>&frasl;<sub>4</sub></span> cup (50g) <strong>granulated sugar</strong>
                    </span>
                </label>
                <label class="ingredient-item">
                    <input type="checkbox">
                    <span class="checkmark">
                        <span class=fractions><sup>1</sup>&frasl;<sub>2</sub></span> teaspoon <strong>salt</strong>
                    </span>
                </label>
                <label class="ingredient-item">
                    <input type="checkbox">
                    <span class="checkmark">
                        <span class=fractions><sup>3</sup>&frasl;<sub>4</sub></span> cup (180ml) <strong>whole milk</strong>
                    </span>
                </label>
                <label class="ingredient-item">
                    <input type="checkbox">
                    <span class="checkmark">3 Tablespoons (45g) <strong>unsalted butter</strong>
                    </span>
                </label>
                <label class="ingredient-item">
                    <input type="checkbox">
                    <span class="checkmark">
                        <span class=fractions>2<sup>1</sup>&frasl;<sub>4</sub></span> teaspoons <strong>instant yeast</strong>
                    </span>
                </label>
                <label class="ingredient-item">
                    <input type="checkbox">
                    <span class="checkmark">1 large <strong>egg</strong>
                    </span>
                </label>

                <h3 class="ingredients-list-subtitle">Filling</h3>
                <label class="ingredient-item">
                    <input type="checkbox">
                    <span class="checkmark">3 Tablespoons (45g) <strong>unsalted butter</strong>, extra softened
                    </span>
                </label>
                <label class="ingredient-item">
                    <input type="checkbox">
                    <span class="checkmark">
                        <span class=fractions><sup>1</sup>&frasl;<sub>3</sub></span> cup (67g) light or dark <strong>brown sugar</strong>
                    </span>
                </label>
                <label class="ingredient-item">
                    <input type="checkbox">
                    <span class="checkmark">1 Tablespoon <strong>ground cinnamon</strong>
                    </span>
                </label>

                <h3 class="ingredients-list-subtitle">Cream Cheese Icing</h3>
                <label class="ingredient-item">
                    <input type="checkbox">
                    <span class="checkmark">4 ounces (113g) full-fat block <strong>cream cheese</strong>, softened to room temperature
                    </span>
                </label>
                <label class="ingredient-item">
                    <input type="checkbox">
                    <span class="checkmark">2 Tablespoons (30g) <strong>butter</strong>, softened to room temperature
                    </span>
                </label>
                <label class="ingredient-item">
                    <input type="checkbox">
                    <span class="checkmark">
                        <span class=fractions><sup>2</sup>&frasl;<sub>3</sub></span> cup (80g) <strong>confectioners' sugar</strong>
                    </span>
                </label>
                <label class="ingredient-item">
                    <input type="checkbox">
                    <span class="checkmark">1 teaspoon <strong>vanilla extract</strong>
                    </span>
                </label>
            </section>
                <a class="button" href=""><button class="green-button edit" type="submit">Add to shop list</button></a>
            </form>

            <section class="instructions">
                <h2 class="ingredients-title">Instructions</h2>
                <ol class="recipe-instructions" aria-label="recipe instructrions">
                    <li class="instructions-step"><strong> Make the dough: </strong>Whisk the flour, sugar, and salt together in a large bowl. Set aside.</li>
                    <li class="instructions-step">Combine the milk and butter together in a heatproof bowl. Microwave or use the stove and heat until the butter has melted and the mixture is warm to the touch (about 110°F/43°C, no higher). Whisk in the yeast until it has dissolved. Pour mixture into the dry ingredients, add the egg, and stir with a sturdy rubber spatula or wooden spoon OR use a stand mixer with a paddle attachment on medium speed. Mix until a soft dough forms.</li>
                    <li class="instructions-step">Transfer dough to a lightly floured surface. Using floured hands, knead the dough for 3 minutes. You should have a smooth ball of dough. If the dough is super soft or sticky, you can add a little more flour. Place in a lightly greased bowl (I use non-stick spray), cover loosely, and let the dough rest for about 10 minutes as you get the filling ingredients ready.</li>
                    <li class="instructions-step"><strong>Fill the rolls:</strong> After 10 minutes, roll the dough out in a 14×8-inch (36×20-cm) rectangle. Spread the softened butter on top. Mix together the cinnamon and brown sugar. Sprinkle it all over the dough. Roll up the dough to make a 14-inch log. Cut into 10–12 even rolls and arrange in a lightly greased 9- or 10-inch round cake pan, pie dish, or square baking pan.</li>
                    <li class="instructions-step"><strong>Rise: </strong>Cover the pan with aluminum foil, plastic wrap, or a clean kitchen towel. Allow the rolls to rise in a relatively warm environment for 60–90 minutes or until double in size.</li>
                    <li class="instructions-step"><strong>Bake the rolls: </strong>After the rolls have doubled in size, preheat the oven to 375°F (190°C). Bake for 24–27 minutes, or until lightly browned. If you notice the tops are getting too brown too quickly, loosely tent the pan with aluminum foil and continue baking. If you want to be precise about their doneness, their internal temperature taken with an instant read thermometer should be around 195–200°F (91–93°C) when done. Remove pan from the oven and place pan on a wire rack as you make the icing. (You can also make the icing as the rolls bake.)</li>
                    <li class="instructions-step"><strong>Make the icing: </strong>In a medium bowl using a handheld or stand mixer fitted with a paddle or whisk attachment, beat the cream cheese on high speed until smooth and creamy. Add the butter and beat until smooth and combined, then beat in the confectioners’ sugar and vanilla until combined. Using a knife or icing spatula, spread the icing over the warm rolls and serve immediately.</li>
                    <li class="instructions-step">Cover leftover frosted or unfrosted rolls tightly and store at room temperature for up to 2 days or in the refrigerator for up to 5 days.</li>
                </ol>
            </section>
        </section>
    </main>

    <%- include('../partials/footer(registered)') -%>