<%- include('../partials/head') -%>
<%- include('../partials/navbarNewUser') -%>

    <main class="form-container">
        <h1 class="form-title">New User? Sign up here.</h1>

      <div id="g_id_onload"
         data-client_id="1052595190342-3fqqj1g5jcb7ch1aaif7o4ms4hf25rve.apps.googleusercontent.com"
         data-login_uri="http://localhost:3000/auth/google"
         data-auto_prompt="false">
      </div>
      <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
      </div>

        <button class="edit center"> 
            <a href="/auth/google" style="color:var(--peach)">REGISTER WITH GOOGLE</a>
        </button> 
        <form class="form" action="/register" method="POST">
            <!-- <div class="form-row">
                <label class="label" for="firstName">First Name:<span class="req">*</span></label>
                <input class="input" id="firstName" name ="firstName" type="text" placeholder="First name" required>
            </div> -->
            <!-- <div class="form-row">
                <label class="label" for="lastName">Last Name:<span class="req">*</span></label>
                <input class="input" id="lastName" name="lastName" type="text" placeholder="Last name" required>
            </div> -->
            <div class="form-row">
                <label class="label" for="username">Username:<span class="req">*</span></label>
                <input class="input" id="username" name="username" type="text" placeholder="Username" required>
            </div>
            <!-- <div class="form-row">
                <label class="label" for="email">Email Address:<span class="req">*</span></label>
                <input class="input" id="email" name="email" type="email" placeholder="xyz@mail.com" required>
            </div> -->
            <div class="form-row">
                <label class="label" for="password" >Password:<span class="req">*</span></label>
                <input class="input" id="password" name="password" type="password" placeholder="Password" required>
            </div>
            <!-- <div class="form-row">
                <label class="label" for="confirmPassword">Confirm Password:<span class="req">*</span></label>
                <input class="input" id="confirmPassword" name="confirmPassword" type="password" required>
            </div> -->
            <p class="form-req"><span class="req">*</span> - Required Field</p>
            <button class="submit edit join button" type="submit">Join Us</button>
        </form>
    </main>

<%- include('../partials/footerNewUser') -%>