<%- include('../partials/head') -%>
<%- include('../partials/navbarNewUser') -%>

    <main class="form-container">
        <h1 class="form-title">New User? Sign up here.</h1>
        <form class="form">
            <div class="form-row">
                <label class="label" for="first-name">First Name:<span class="req">*</span></label>
                <input class="input" id="first-name" name ="first-name" type="text" placeholder="First name" required>
            </div>
            <div class="form-row">
                <label class="label" for="last-name">Last Name:<span class="req">*</span></label>
                <input class="input" id="last-name" name="last-name" type="text" placeholder="Last name" required>
            </div>
            <div class="form-row">
                <label class="label" for="nickname">Nickname: (not required)</label>
                <input class="input" id="nickname" name="nickname" type="text" placeholder="Optional">
            </div>
            <div class="form-row">
                <label class="label" for="email">Email Address:<span class="req">*</span></label>
                <input class="input" id="email" name="email"type="email" placeholder="xyz@mail.com" required>
            </div>
            <div class="form-row">
                <label class="label" for="pwd" >Password:<span class="req">*</span></label>
                <input class="input" id="pwd" name="pwd" type="password" placeholder="Password" required>
            </div>
            <div class="form-row">
                <label class="label" for="pwd">Confirm Password:<span class="req">*</span></label>
                <input class="input" id="pwd" name="pwd" type="password" required>
            </div>
            <p class="form-req"><span class="req">*</span> - Required Field</p>
            <button class="submit edit join button" type="submit">Join Us</button>
        </form>
    </main>

<%- include('../partials/footerNewUser') -%>