<%- include('../partials/head') -%>
<%- include('../partials/navbar(registered)') -%>

    <main class="search-main">
        <h1>Search the Site</h1>
        <section class="search-container-bar">
            <form class="search-bar-form" action="#">
                <input class="search-input" type="text" placeholder="Search..." name="search">
                <div class="dropdown">
                    <button onclick="dropdown()" class="dropbtn">Filter Search</button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="#">Recipes</a>
                      <a href="#">Friends</a>
                      <a href="#">General</a>
                    </div>
                  </div> 
                <button class="mag-glass" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </section>

        <section class="search-results">

            <a class="search-result-link" href="#">
                <div class="search-result-link-top">
                    <img class="search-result-img" src="/image/max-griss-tamagomaki.jpg" alt="single serving of eggplant parmesan">
                </div>
                <div class="search-result-title">
                    Japanese Egg Roll
                </div>
            </a>

            <a class="search-result-link" href="#">
                <div class="search-result-link-top">
                    <img class="search-result-img" src="/image/margo-brodowicz-egg-muffin.jpg" alt="single serving of eggplant parmesan">
                </div>
                <div class="search-result-title">
                    Egg Muffins
                </div>
            </a>

            <a class="search-result-link" href="#">
                <div class="search-result-link-top">
                    <img class="search-result-img" src="/image/kyndall-ramirez-eggrolls.jpg" alt="single serving of eggplant parmesan">
                </div>
                <div class="search-result-title">
                    Best Egg Rolls
                </div>
            </a>

            <a class="search-result-link" href="#">
                <div class="search-result-link-top">
                    <img class="search-result-img" src="/image/fotointoscana-by-moira-e-raffaella-eggplant-parmesan.jpg" alt="single serving of eggplant parmesan">
                </div>
                <div class="search-result-title">
                    Eggplant Parmesan
                </div>
            </a>
            
            <a class="search-result-link" href="">
                <div class="search-result-link-top">
                    <img class="search-result-img" src="/image/sunorwind-eggplant-lasagna.jpg" alt="single serving of eggplant lasagna">
                </div>
                <div class="search-result-title">
                    Eggplant Lasagna
                </div>
            </a>
            <a class="search-result-link" href="">
                <div class="search-result-link-top">
                    <img class="search-result-img" src="/image/markus-spiske-grilled-eggplant.jpg" alt="eggplant slices on grill">
                </div>
                <div class="search-result-title">
                    Grilled Eggplant
                </div>
            </a>
        </section>
    </main>

<%- include('../partials/footer(registered)') -%>