<%- include('../partials/head') -%>
<%- include('../partials/navbarRegistered') -%>

    <main class="shopping-container">
        <h1 class="shopping-list-title">Shopping List</h1>
            <!-- <section class="sorted-shopping-list">
                <ul class="'shopping-list-category-list"> -->
<!-- if new documents are added to ingredients collection, add new documents to shopping list (if statement JS?) -->
                
                <!-- <%# ingredients.forEach(ingredient => { %>
                    <label class="shopping-list-item">
                        <input type="checkbox" class="shop-list-checkbox">
                        <span class="checkmark"><%= ingredients.ingredient =%></span>
                    </label>
                <%# )} %>
                </ul> -->

                <section class="shopping-list-category">
                    <h2 class="shopping-list-category-head">Produce</h2>
                    <ul class="shopping-list-category-list">
                        <label class="shopping-list-item">
                            <input type="checkbox" class="shop-list-checkbox">
                            <span class="checkmark">Spinach</span>
                        </label>
                        <label class="shopping-list-item">
                            <input type="checkbox" class="shop-list-checkbox">
                            <span class="checkmark">Mushrooms</span>
                        </label>
                        <label class="shopping-list-item">
                            <input type="checkbox" class="shop-list-checkbox">
                            <span class="checkmark">Potatoes</span>
                        </label>
                    </ul>
                </section>      
            
                <section class="shopping-list-category">
                    <h2 class="shopping-list-category-head">Pantry</h2>
                    <ul class="shopping-list-category-list">
                        <label class="shopping-list-item">
                            <input type="checkbox" class="shop-list-checkbox">
                            <span class="checkmark">Sugar</span>
                        </label>
                        <label class="shopping-list-item">
                            <input type="checkbox" class="shop-list-checkbox">
                            <span class="checkmark">Flour</span>
                        </label>
                        <label class="shopping-list-item">
                            <input type="checkbox" class="shop-list-checkbox">
                            <span class="checkmark">Baking Soda</span>
                        </label>
                        <label class="shopping-list-item">
                            <input type="checkbox" class="shop-list-checkbox">
                            <span class="checkmark">Pasta</span>
                        </label>
                    </ul>
                </section>  

                <section class="shopping-list-category">
                    <h2 class="shopping-list-category-head">Proteins</h2>
                    <ul class="shopping-list-category-list">
                        <label class="shopping-list-item">
                            <input type="checkbox" class="shop-list-checkbox">
                            <span class="checkmark">Chicken thighs</span>
                        </label>
                        <label class="shopping-list-item">
                            <input type="checkbox" class="shop-list-checkbox">
                            <span class="checkmark">Tofu</span>
                        </label>
                        <label class="shopping-list-item">
                            <input type="checkbox" class="shop-list-checkbox">
                            <span class="checkmark">Tempeh</span>
                        </label>
                    </ul>
                </section>

                <section class="shopping-list-category">
                    <h2 class="shopping-list-category-head">Dairy</h2>
                    <ul class="shopping-list-category-list">
                        <label class="shopping-list-item">
                            <input type="checkbox" class="shop-list-checkbox">
                            <span class="checkmark">Butter</span>
                        </label>
                        <label class="shopping-list-item">
                            <input type="checkbox" class="shop-list-checkbox">
                            <span class="checkmark">Milk</span>
                        </label>
                    </ul>
                </section>

                <section class="shopping-list-category">
                    <h2 class="shopping-list-category-head">Freezer</h2>
                    <ul class="shopping-list-category-list">
                        <label class="shopping-list-item">
                            <input type="checkbox" class="shop-list-checkbox">
                            <span class="checkmark">Broccoli</span>
                        </label>
                        <label class="shopping-list-item">
                            <input type="checkbox" class="shop-list-checkbox">
                            <span class="checkmark">Blueberries</span>
                        </label>
                        <label class="shopping-list-item">
                            <input type="checkbox" class="shop-list-checkbox">
                            <span class="checkmark">Ice cream</span>
                        </label>
                        <label class="shopping-list-item">
                            <input type="checkbox" class="shop-list-checkbox">
                            <span class="checkmark">Pizza</span>
                        </label>
                    </ul>
                </section>
            </section>
                
    </main>


<%- include('../partials/footerRegistered') -%>