<%- include('../partials/head') -%>
<%- include('../partials/navbarRegistered') -%>

<h1>You're logged in!</h1>
<a class="profile-button" href="/user/<%= user.id %>"><button class="action">Click here to open your profile page</button></a>

<%- include('../partials/footerRegistered') -%>